export PROJECT_DIR=${PWD}
export SECRETS_DIR=${PROJECT_DIR}/secrets
export WORK_DIR=${PROJECT_DIR}/work
export SOURCE_DIR=${PROJECT_DIR}/src

PATH=${PROJECT_DIR}/bin:${PATH}

export PARAMS_YAML=${SECRETS_DIR}/params.yml
watch_file ${PARAMS_YAML}
watch_file ${SECRETS_DIR}/$(yq e .gcp.service-account ${PARAMS_YAML}).json
if [[ -f ${PARAMS_YAML} ]] ; then 
  export GOOGLE_CREDENTIALS=${SECRETS_DIR}/terraform-state-$(basename ${PROJECT_DIR}).json
fi

export TF_VAR_project_root=${PROJECT_DIR}
